/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* подключение размера блока по рамке а не по контенту*/ }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* принудительное унаследование для ненаследуемых элементов и псевдоклов (размера блока по рамке а не по контенту)*/ }

head, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.site-header {
  background: #fef0d5; }

._container {
  max-width: 1200px !important;
  margin: 0 auto !important;
  padding: 0 20px; }

._blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }

._blurnone {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 142px;
  padding-bottom: 5px; }
  @media (max-width: 700px) {
    .header-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 20px;
      padding-bottom: 10px; } }

.header-flex .logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 500px) {
    .header-flex .logo-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 37px; } }

.header-flex .logo {
  height: 100px;
  padding-right: 20px;
  margin-bottom: 2px; }
  @media (max-width: 500px) {
    .header-flex .logo {
      height: 60px;
      padding-right: 0px;
      margin-bottom: 26px; } }

.header-flex .title {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #22605d;
  margin-bottom: 5px; }
  @media (max-width: 500px) {
    .header-flex .title {
      text-align: center; } }

.header-flex .subtitle {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #22605d;
  min-width: 230px; }
  @media (max-width: 500px) {
    .header-flex .subtitle {
      text-align: center; } }

.header-flex .share-project {
  margin-left: auto; }
  @media (max-width: 700px) {
    .header-flex .share-project {
      margin-left: 0; } }

.share-project {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.share-project .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7px;
  height: 18px; }

.normal-button {
  border-radius: 20px;
  border: 0;
  background: #d91f5b;
  color: white;
  padding: 6px 11px;
  margin: 10px 0;
  font-size: 14px; }
  .normal-button.-close {
    border-radius: 5px;
    font-size: 19px;
    padding: 6px 41px; }
  .normal-button:hover {
    background: #ac1948;
    cursor: pointer; }
  .normal-button:focus {
    outline: 0; }

.main-wrap .color {
  margin: 30px 0 5px 0; }

@media (max-width: 500px) {
  .main-wrap {
    text-align: center; } }

.color-dropdown {
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  border-color: #c9cace; }

.color-dropdown:hover {
  cursor: pointer; }

.color-dropdown .coloroption[value="red"] {
  background: red; }

.color-dropdown .coloroption[value="blue"] {
  background: #3e3efc; }

.color-dropdown .coloroption[value="yellow"] {
  background: yellow; }

.color-dropdown .coloroption[value="green"] {
  background: green; }

.color-dropdown .coloroption[value="grey"] {
  background: grey; }

.calendar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  color: #22605d;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.calendar-list .calendar-wrap {
  margin: 4px 30px 4px 0px; }
  @media (max-width: 500px) {
    .calendar-list .calendar-wrap {
      margin: 4px; } }

.caption-item {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px 0 10px 0; }
  .caption-item:hover i {
    visibility: visible;
    cursor: pointer;
    opacity: 0.5; }
  .caption-item i {
    visibility: hidden; }
  .caption-item i:hover {
    opacity: 1; }

.table-item {
  border-spacing: 5px 0;
  border: 1px solid #22605d;
  border-radius: 10px;
  padding: 10px 10px 12px 10px; }
  .table-item th {
    font-size: 16px;
    font-weight: normal;
    color: #c9cace;
    text-align: center;
    min-width: 30px;
    height: 36px; }
  .table-item td {
    text-align: center;
    height: 48px; }
    .table-item td:hover {
      background-color: #c9cace;
      cursor: pointer; }
  .table-item .holiday {
    color: #ad6e76; }

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none; }

.-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: showkey 0.5s;
          animation: showkey 0.5s; }

@-webkit-keyframes showkey {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showkey {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.popup-overlay {
  position: fixed;
  height: 240px;
  width: 302px;
  background-color: #fef0d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
  border-radius: 5px; }
  .popup-overlay .title {
    font-size: 25px;
    padding: 14px 5px 19px 5px;
    font-family: "Roboto Condensed", sans-serif; }
  .popup-overlay .constantlink {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    font-weight: bold; }
  .popup-overlay .link {
    -webkit-box-shadow: 0px 1px 0px 0px #c7c7c7 inset;
            box-shadow: 0px 1px 0px 0px #c7c7c7 inset;
    border: 1px solid #c9cace;
    padding: 5px 22px;
    background-color: white;
    margin: 5px 0 20px 0; }
