$font-family: 'Roboto Condensed', sans-serif;
$color-title: rgb(34,96,93);
$color-table: rgb(201,202,206);
$color-background: rgb(254,240,213);
$color-bottom:  rgb(217,31,91);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$width-min: 500px;
$width-max: 700px;



html {
	box-sizing: border-box; /* подключение размера блока по рамке а не по контенту*/
}

*,*:after,*:before{            
	box-sizing: inherit;  /* принудительное унаследование для ненаследуемых элементов и псевдоклов (размера блока по рамке а не по контенту)*/
}

head, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.site-header {
  background: $color-background;   
}

._container {
  max-width: 1200px !important;
  margin: 0 auto !important;
  padding: 0 20px;
}

._blur {
  filter: blur(4px);
  transition: 0.5s ease;
}

._blurnone {
  filter: blur(0px);
  transition: 0.5s ease;
}

.header-flex {
  & {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 142px;
    padding-bottom: 5px;

    @media (max-width: $width-max) {
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }

  .logo-flex {
    display: flex;
    align-items: center;

    @media (max-width: $width-min) {
      flex-direction: column;
      margin-bottom: 37px;
    }
  }

  .logo {
    height: 100px;
    padding-right: 20px;
    margin-bottom: 2px;

    @media (max-width: $width-min) {
      height: 60px;
      padding-right: 0px;
      margin-bottom: 26px;

    }
  }

  .title {
    margin: 0;
    font-family: $font-family;
    color: $color-title;
    margin-bottom: 5px; 

    @media (max-width: $width-min) {
      text-align: center;
    }
  }

  .subtitle {
    margin: 0;
    font-family: $font-family;
    color: $color-title;
    min-width: 230px;

    @media (max-width: $width-min) {
      text-align: center;
    }
  }

  .share-project {
    margin-left: auto; 
    @media (max-width: $width-max) {
      margin-left: 0; 
    }
  }
}

.share-project {
  & {
    flex-direction: column;
  }

  .social {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    height: 18px;
  }
} 

.normal-button {
  border-radius: 20px;
  border: 0;
  background: $color-bottom;
  color: white;
  padding: 6px 11px;
  margin: 10px 0;
  font-size: 14px;

  &.-close {
    border-radius: 5px;
    font-size: 19px;
    padding: 6px 41px;
  }

  &:hover {
    background: darken($color-bottom, 10%);
    cursor: pointer;
  } 
  
  &:focus {
    outline: 0;
  } 
}

.main-wrap {
  .color {
    margin: 30px 0 5px 0 ;
  }

  @media (max-width: $width-min) {
    text-align: center;
  }
}

.color-dropdown {
  & {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border-color: $color-table;
  }

  &:hover {
    cursor: pointer;
  }

  .coloroption {

    &[value="red"] {
      background: red;
    }

    &[value="blue"] {
      background: rgb(62, 62, 252);
    }

    &[value="yellow"] {
      background: yellow;
    }

    &[value="green"] {
      background: green;
    }

    &[value="grey"] {
      background: grey;
    }
  }
}

.calendar-list {
  & {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: $color-title;
    flex-wrap: wrap;
  }
  
  .calendar-wrap {
    margin: 4px 30px 4px 0px;

    @media (max-width: $width-min) {
      margin: 4px;
    }
  }
}

.caption-item {
	text-align: center;
  font-size: 30px; 
  font-family: $font-family;
  padding: 5px 0 10px 0;
  
  &:hover {
    i {
      visibility: visible;
      cursor: pointer;
      opacity: 0.5;   
    }
  }

 i {
   &{
    visibility: hidden;
   }

    &:hover {
      opacity: 1;
    } 
  } 
}

.table-item {
  border-spacing: 5px 0;
  border: 1px solid $color-title;
  border-radius: 10px;
  padding: 10px 10px 12px 10px;
  
  

  th {
	  font-size: 16px; 
	  font-weight: normal;
    color: $color-table;
    text-align: center;
    min-width: 30px; 
    height: 36px;  
  }

  td {
    text-align: center;
    height: 48px;

    &:hover {
      background-color: $color-table;
      cursor: pointer;
    }
  }

  .holiday {
	  color: rgb(173,110,118);
  }
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.-show {
  display: flex;
  animation: showkey 0.5s;
}

@keyframes showkey {
  0% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}

.popup-overlay {
  position: fixed;
  height: 240px;
  width: 302px;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  .title {
    font-size: 25px;
    padding: 14px 5px 19px 5px;
    font-family: $font-family;
  }
  
  .constantlink {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
  }

  .link {
    box-shadow: 0px 1px 0px 0px #c7c7c7 inset;
    border: 1px solid $color-table;
    padding: 5px 22px;
    background-color: white;
    margin: 5px 0 20px 0;
  }
}











